<h1 class="text-3xl font-bold underline pt-6  text-center items-center justify-center px-10">
  Tailwind CSS exercise
</h1>
<br/>
<div class="px-2 py-2">
  <h4 class="text-xl font-bold"><%= link_to 'Blog', blogs_path %></h4>
  <h4 class="text-xl font-bold"><%= link_to 'Content Section', content_sections_path %></h4>
  <h4 class="text-xl font-bold"><%= link_to 'CTA', cta_path %></h4>
  <h4 class="text-xl font-bold"><%= link_to 'EcommerceList', ecommercelist_index_path %></h4>
</div>

