<nav class="text-center p-5">
  <a href="#" class="mx-2 text-lg">Home</a>
  <a href="#" class="mx-2 text-lg">Shop</a>
  <a href="#" class="mx-2 text-lg">Contact</a>
</nav>

<section class="max-w-7xl mx-auto px-4 py-10">
  <p class="text-3xl mb-5 font-thin">Most loved Mugs</p>
  <div class="grid gap-5 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 ld:grid-cols-4">
    <div class="shadow-lg">
    <img src="https://s3-eu-west-1.amazonaws.com/nedgis/public/images/products/lampe-a-poser-simone-petite-bois-naturel-blanc-o18cm-h33cm-an-so/gallery/simone-petite_anne-sophie-boucard_lampe-a-poser-table-lamp-_an-so_plpf_abplpb__design_signed_nedgis-162159-product.jpg?1669733133" alt="mug" class="h-80 w-full object-cover">
    <div class="p-4">
      <div class="flex justify-between">
        <p>Pinky Mug</p>
        <p>12€</p>
      </div>
      <button class="flex items-center justify-between px-4 py-2 mt-5 font-semibold text-sm bg-gradient-to-r from-slate-300 to-zinc-300 text-gray-800 rounded-sm shadow-sm">
      <span class="mr-3">
        Add to cart
      </span>
        <img src="https://www.svgrepo.com/show/80543/shopping-cart-outline.svg" alt="shopping cart" class="w-5">
      </button>
    </div>
  
  </div>
    <div class="shadow-lg">
      <img src="https://www.culinaries.fr/wp-content/uploads/2022/08/Jean-Yves-Peron-La-petite-robe-2020-blanc-1.jpg" alt="mug" class="h-80 w-full object-cover">
      <div class="p-4">
        <div class="flex justify-between">
          <p>Pinky Mug</p>
          <p>12€</p>
        </div>
        <button class="flex items-center justify-between px-4 py-2 mt-5 font-semibold text-sm bg-gradient-to-r from-slate-300 to-zinc-300 text-gray-800 rounded-sm shadow-sm">
      <span class="mr-3">
        Add to cart
      </span>
          <img src="https://www.svgrepo.com/show/80543/shopping-cart-outline.svg" alt="shopping cart" class="w-5">
        </button>
      </div>
    
    </div>
    <div class="shadow-lg">
      <img src="https://cdn.shopify.com/s/files/1/0264/3909/0222/products/Goutal-b_b-homepage-BD_b439a435-0fdf-4a07-bc49-de2b7fdb6dc3_1200x600_crop_center.jpg?v=1678096564" alt="mug" class="h-80 w-full object-cover">
      <div class="p-4">
        <div class="flex justify-between">
          <p>Pinky Mug</p>
          <p>12€</p>
        </div>
        <button class="flex items-center justify-between px-4 py-2 mt-5 font-semibold text-sm bg-gradient-to-r from-slate-300 to-zinc-300 text-gray-800 rounded-sm shadow-sm">
      <span class="mr-3">
        Add to cart
      </span>
          <img src="https://www.svgrepo.com/show/80543/shopping-cart-outline.svg" alt="shopping cart" class="w-5">
        </button>
      </div>
    
    </div>
    <div class="shadow-lg">
      <img src="https://www.foiegrashelenemudry.com/docs/uploads/2015/11/produits-mudry-medaille.jpg" alt="mug" class="h-80 w-full object-cover">
      <div class="p-4">
        <div class="flex justify-between">
          <p>Pinky Mug</p>
          <p>12€</p>
        </div>
        <button class="flex items-center justify-between px-4 py-2 mt-5 font-semibold text-sm bg-gradient-to-r from-slate-300 to-zinc-300 text-gray-800 rounded-sm shadow-sm">
      <span class="mr-3">
        Add to cart
      </span>
          <img src="https://www.svgrepo.com/show/80543/shopping-cart-outline.svg" alt="shopping cart" class="w-5">
        </button>
      </div>
    
    </div>
    <div class="shadow-lg">
      <img src="https://www.jacadi.fr/medias/product-1092098-972-JSV-01.jpg?context=bWFzdGVyfGltYWdlc3wzODc0NTF8aW1hZ2UvanBlZ3xoMjAvaDlkLzk3NDY4MTEwOTMwMjIvcHJvZHVjdF8xMDkyMDk4Xzk3Ml9KU1ZfMDEuanBnfDBlMTI1YzAyN2UxM2ViNTMyN2I4ZmVjYWQzNTQwMzkzOGI2MTIyM2UxN2I0YTQyYWM2Y2ZlMDc3NDljMTZmNTM" alt="mug" class="h-80 w-full object-cover">
      <div class="p-4">
        <div class="flex justify-between">
          <p>Pinky Mug</p>
          <p>12€</p>
        </div>
        <button class="flex items-center justify-between px-4 py-2 mt-5 font-semibold text-sm bg-gradient-to-r from-slate-300 to-zinc-300 text-gray-800 rounded-sm shadow-sm">
      <span class="mr-3">
        Add to cart
      </span>
          <img src="https://www.svgrepo.com/show/80543/shopping-cart-outline.svg" alt="shopping cart" class="w-5">
        </button>
      </div>
    
    </div>
    <div class="shadow-lg">
      <img src="https://cdn.shopify.com/s/files/1/0533/7749/9310/products/MME_PETITE4.png?v=1612188845&width=1445" alt="mug" class="h-80 w-full object-cover">
      <div class="p-4">
        <div class="flex justify-between">
          <p>Pinky Mug</p>
          <p>12€</p>
        </div>
        <button class="flex items-center justify-between px-4 py-2 mt-5 font-semibold text-sm bg-gradient-to-r from-slate-300 to-zinc-300 text-gray-800 rounded-sm shadow-sm">
      <span class="mr-3">
        Add to cart
      </span>
          <img src="https://www.svgrepo.com/show/80543/shopping-cart-outline.svg" alt="shopping cart" class="w-5">
        </button>
      </div>
    
    </div>
    <div class="shadow-lg">
      <img src="https://cloudfront-eu-central-1.images.arcpublishing.com/lexpress/LHM76LLCOREEBF2E6AMGY76QP4.jpg" alt="mug" class="h-80 w-full object-cover">
      <div class="p-4">
        <div class="flex justify-between">
          <p>Pinky Mug</p>
          <p>12€</p>
        </div>
        <button class="flex items-center justify-between px-4 py-2 mt-5 font-semibold text-sm bg-gradient-to-r from-slate-300 to-zinc-300 text-gray-800 rounded-sm shadow-sm">
      <span class="mr-3">
        Add to cart
      </span>
          <img src="https://www.svgrepo.com/show/80543/shopping-cart-outline.svg" alt="shopping cart" class="w-5">
        </button>
      </div>
    
    </div>
    <div class="shadow-lg">
      <img src="https://photos6.spartoo.com/photos/303/3036/3036_1200_A.jpg" alt="mug" class="h-80 w-full object-cover">
      <div class="p-4">
        <div class="flex justify-between">
          <p>Pinky Mug</p>
          <p>12€</p>
        </div>
        <button class="flex items-center justify-between px-4 py-2 mt-5 font-semibold text-sm bg-gradient-to-r from-slate-300 to-zinc-300 text-gray-800 rounded-sm shadow-sm">
      <span class="mr-3">
        Add to cart
      </span>
          <img src="https://www.svgrepo.com/show/80543/shopping-cart-outline.svg" alt="shopping cart" class="w-5">
        </button>
      </div>
    
    </div>
    <div class="shadow-lg">
      <img src="https://cdn.shopify.com/s/files/1/0428/3331/3956/products/Scarpaconrialzouomo_1000x.png?v=1623423048" alt="mug" class="h-80 w-full object-cover">
      <div class="p-4">
        <div class="flex justify-between">
          <p>Pinky Mug</p>
          <p>12€</p>
        </div>
        <button class="flex items-center justify-between px-4 py-2 mt-5 font-semibold text-sm bg-gradient-to-r from-slate-300 to-zinc-300 text-gray-800 rounded-sm shadow-sm">
      <span class="mr-3">
        Add to cart
      </span>
          <img src="https://www.svgrepo.com/show/80543/shopping-cart-outline.svg" alt="shopping cart" class="w-5">
        </button>
      </div>
    
    </div>
    <div class="shadow-lg">
      <img src="https://www.journaldugeek.com/content/uploads/2022/07/apple-macbook-air-m2-live-02.jpg" alt="mug" class="h-80 w-full object-cover">
      <div class="p-4">
        <div class="flex justify-between">
          <p>Pinky Mug</p>
          <p>12€</p>
        </div>
        <button class="flex items-center justify-between px-4 py-2 mt-5 font-semibold text-sm bg-gradient-to-r from-slate-300 to-zinc-300 text-gray-800 rounded-sm shadow-sm">
      <span class="mr-3">
        Add to cart
      </span>
          <img src="https://www.svgrepo.com/show/80543/shopping-cart-outline.svg" alt="shopping cart" class="w-5">
        </button>
      </div>
    
    </div>
  </div>
</section>
